Package: s3duck
Version: 0.0.2
Architecture: amd64
Maintainer: Vladislav Ananev <nexus.riot@gmail.com>
Description:Simple free cross-platform client for Simple Storage Service.
Installed-Size: 58
Depends: python3 (>=3.6), python3-boto3, python3-cryptography, python3-pyqt5
